/* Mobile */

body {
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
}
/* Header start */
header {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
div.top-heading {
  color: white;
  background-image: url('./images/thankyounote_large.png');
  background-size: cover;
  width: 250px;
  height: 250px;
  margin: 15px auto;
}
div#first-layer {
  background-color: rgb(132,205,198, .91);
  width: 250px;
  height: 250px;
  position: relative;
  bottom: 23px;
}
div#second-layer {
  background-color: rgb(254,74,73, .91);
  width: 250px;
  height: 250px;
  position: relative;
  bottom: 23px;
}
div#third-layer {
  background-color: rgb(221,223,135, .91);
  width: 250px;
  height: 250px;
  position: relative;
  bottom: 23px;
}
div.top-heading h2 {
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  padding-top: 29%;
}
div.top-heading p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}
/* Header end */

/* Main content start */
main {
  margin-top: 100px;
}
div#intro-container{
  background: #F4F4F4;
  overflow: auto;
}
div#introduction {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  align-items: center;
}
div#main-text {

}
img#headshot {
  width: 210px;
  margin-bottom: 15px;
}
div#main-text h1 {
  font-size: 34px;
  color: #5D5D5D;
  font-weight: 400;
  text-align: center;
}
div#main-text p {
  color: #5D5D5D;
  font-family: 'Open Sans', sans-serif;
  line-height: 31px;
  width: 103%;
}
div#main-text button {
  background: #DDDF87;
  border: none;
  font-weight: 600;
  font-size: 16px;
  color: #777777;
  padding: 10px;
  width: 100%;
}

div#content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 21px;
}
h2.content-heading {
  color: #FE4A49;
  font-weight: 600;
  margin-bottom: 5px;
}
div.content-box {
  width: 100%;
  margin: 0 auto;
}
div.sub-content {
  border-top: 3px solid #FE4A49;
}
div.sub-content ul {
  list-style-type: none;
  padding: 0;
  margin-top: 42px;
}
div.sub-content ul li {
  margin: 25px 0;
  color: #5D5D5D;
}
div.sub-content ul a {
  text-decoration: none;
}
div.sub-content ul a li {
  color: #84CDC6;
}
div.sub-content p {
  color: #5D5D5D;
  font-family: 'Open Sans', sans-serif;
  margin-top: 31px;
}
img#grey {
  width: 100%;
}
/* Main content end */

/* Footer start */
footer {
  background: #F4F4F4;
  width: 100%;
}
div#footer-main {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 12px;
  align-items: flex-start;
  width: 80%;
  padding-top: 56px;
  }

div#contact {
  padding-right: 0;
}
div#categories {
  padding-right: 24px;
}
div#footer-main h3 {
  color: #84CDC6;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0;
}
div#footer-main ul {
  list-style-type: none;
  padding: 0;
  color: #5D5D5D;
}
div#footer-main ul li {
  margin: 17px 0;
  line-height: 20px;
}
div#footer-main span {
  color: #5D5D5D;
  font-size: 16px;
  display: inline-block;
  margin: 3px 0;
}
div#footer-main p {
  color: #5D5D5D;
  line-height: 24px;
  font-size: 14px;
}
form {
  display: none;
}
div#social-search {
  display: flex;
  margin-left: -10px;
}
div#social-search div {
  margin: 4px;
  margin-top: 20px;
  height: 18px;
  width: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
div#pinterest {
  background-image: url("https://img.icons8.com/windows/32/000000/pinterest-p.png");
}
div#twitter {
  background-image: url("https://img.icons8.com/android/24/000000/twitter.png");
}
div#facebook {
  background-image: url("https://img.icons8.com/material-rounded/24/000000/facebook-f--v1.png");
}
div#instagram {
  background-image: url("https://img.icons8.com/metro/26/000000/instagram-new.png");
}
div#social-search div#youtube {
  background-image: url('./images/yt_icon_mono_light.png');
  margin-left: 15px;
  margin-top: 22px;
}
div#social-search div#toggle-search {
  background-image: url('./images/search.png');
  margin-left: 4px;
  margin-top: 11px;
  height: 33px;
  width: 33px;
}
img#logo {
  width: 27%;
}
div#copyright-container {
  background: white;
}
div#copyright {
  width: 84%;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
p#attribution {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
span#copyright {
  color: #5D5D5D;
  font-size: 14px;
}
a#terms {
  color: #84CDC6;
}
/* Footer end */
}



@media only screen and (min-width:599px) {
/* Header start */
header {
  width: 90%;
  height: 355px;
  display: flex;
  flex-direction: row;
  margin: 40px auto;
  justify-content: center;
}
div.top-heading {
  width: 355px;
  height: 100%;
  margin: 16px;
}
div#first-layer {
  width: 355px;
  height: 100%;
  position: relative;
  bottom: 23px;
}
div#second-layer {
  width: 355px;
  height: 100%;
  position: relative;
  bottom: 23px;
}
div#third-layer {
  width: 355px;
  height: 100%;
  position: relative;
  bottom: 23px;
}
div.top-heading h2 {
  font-size: 28px;
  padding-top: 29%;
}
div.top-heading p {
  font-size: 16px;
  text-align: center;
}
/* Header end */

/* Main content start */
main {
  margin-top: 100px;
}
div#intro-container{
  overflow: auto;
}
div#introduction {
  width: 70%;
  display: flex;
  flex-direction: row;
  margin: 40px auto;
  align-items: center;
}
div#main-text {
  margin-left: 40px;
}
img#headshot {
  width: 258px;
  height: 258px;
}
div#main-text h1 {
  font-size: 34px;
}
div#main-text p {
  line-height: 31px;
}
div#main-text button {
  font-size: 16px;
  height: 55px;
  width: 155px;
}

div#content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  padding-top: 21px;
}
h2.content-heading {
  margin-bottom: 5px;
}
div.content-box {
  width: 50%;
  margin: 20px;
}
div.sub-content ul {
  padding: 0;
  margin-top: 42px;
}
div.sub-content ul li {
  margin: 25px 0;
}
div.sub-content p {
  margin-top: 31px;
}
img#grey {
  width: 354px;
  height: 39px;
}
/* Main content end */

/* Footer start */
footer {
  width: 100%;
}
div#footer-main {
  display: flex;
  margin: 0 auto;
  margin-top: 42px;
  margin-bottom: 50px;
  align-items: flex-start;
  height: 416px;
  width: 100%;
  padding-top: 56px;
  }
div.footer-section {
  padding: 0 30px;
  height: 287px;
}
div#recent, div#categories {
  border-right: 1px solid #5D5D5D;
  width: 21%;
}
div#recent {
  padding-left: 40px;
}
div#footer-main h3 {
  font-size: 20px;
  margin-top: 0;
}
div#footer-main ul {
  padding: 0;
}
div#footer-main ul li {
  margin: 20px 0;
  line-height: 20px;
}
div#footer-main span {
  font-size: 16px;
  display: inline-block;
  margin: 3px 0;
}
div#footer-main p {
  line-height: 24px;
  font-size: 14px;
}
div.footer-section {
  padding-left: 20px;
  padding-right: 30px;
  width: 160px;
}
div#contact {
  width: 28%;
  margin-left: 71px;
  padding-right: 0;
}
div#social-search {
  display: flex;
  margin-left: -10px;
}
div#social-search div {
  width: 30px;
  height: 30px;
  margin: 7px;
  margin-top: 20px;
}
div#social-search div#youtube {
  height: 37px;
  width: 37px;
  margin-left: 15px;
  margin-top: 22px;
}
div#social-search div#toggle-search {
  width: 50px;
  height: 50px;
  margin-left: 4px;
  margin-top: 10px;
}
img#logo {
  width: 27%;
}
div#copyright {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}
p#attribution {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
span#copyright {
  font-size: 14px;
}
a#terms {
  float: right;
}
/* Footer end */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
  header {
    flex-direction: row;
  }
  div#introduction {
    flex-direction: row;
    width: 90%;
  }
  main {
    margin-top: 27px;
  }
  img#headshot {
    width: 192px;
    margin-left: 13px;
    margin-bottom: 15px;
  }
  div#main-text {
    width: 61%;
    margin-left: 48px;
  }
  div#main-text h1 {
    text-align: left;
  }
  div#content {
    flex-direction: row;
    width: 91%;
  }
  div.content-box {
    width: 90%;
    margin: 0px 23px;
  }
  div#recent {
    width: 40%;
    padding-right: 45px;
  }
  div#categories {
    width: 30%;
    padding-right: 10px;
  }
  div#tags {
    width: 20%;
  }
  div#contact {
    border-top: 1px solid #5D5D5D;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){

}
